


<mat-toolbar class="mat-elevation-z10" color="accent" fxLayout="row">
  <div>
     
      <h1 style="font-size: 30px;">User Management System</h1>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
      <ul fxLayout fxLayoutGap="20px" class="menu-items">
        <button  mat-button (click)="userList()"  > User List
        </button>

    
    <button mat-button (click)="addUser()" > Add User</button>
    <button mat-button (click)="getuserbyid()">Search By Id</button>
    
    <button   mat-button (click)="userLogout()" > Logout </button> 
      </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
      <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="additional links">
          <mat-icon>menu</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="userList()"  > User List
        </button>

    
    <button mat-menu-item (click)="addUser()" > Add User</button>
    <button mat-menu-item (click)="getuserbyid()">Search By Id</button>
    
    <button   mat-menu-item (click)="userLogout()" > Logout </button> 
      </mat-menu>
  </div>
</mat-toolbar>

























<!-- 
  <mat-toolbar color="accent" class="set" >
    <mat-toolbar-row>
     
      <h1 style="font-size: x-large;">User Management System</h1>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     
      <span class="menu-spacer"></span>
      <div>
        
         <button style="flex: 1 1 auto;" mat-button (click)="userList()"  > User List
            </button>

        
        <button mat-button (click)="addUser()" > Add User</button>
        <button mat-button (click)="getuserbyid()">Search By Id</button>
        
        <button   mat-button (click)="userLogout()" > Logout </button> 
     
  
      </div>
    </mat-toolbar-row>
</mat-toolbar>

 -->
  
 <!-- <mat-toolbar fxLayout="row" color="accent">
  <span fxFlex>User Management System</span>
  <button mat-button *ngFor="let item of menuItems" 
      [fxShow]="item.showOnDesktop" 
      [fxShow.xs]="item.showOnMobile"
      [fxShow.sm]="item.showOnTablet">
      <mat-icon class="mr">{{item.icon}}</mat-icon>
      {{item.label}}
  </button>
  <ng-container>
      <button mat-icon-button [matMenuTriggerFor]="dropMenu">
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #dropMenu="matMenu">
          <ng-container *ngFor="let item of menuItems">
              <div [fxShow]="!item.showOnDesktop" 
                   [fxShow.sm]="!item.showOnTablet" 
                   [fxShow.xs]="!item.showOnMobile">
                  <button mat-menu-item>
                      <mat-icon class="mr">{{item.icon}}</mat-icon>
                      {{item.label}}
                  </button>
                  <mat-divider></mat-divider>
              </div>
          </ng-container>
      </mat-menu>
  </ng-container>
</mat-toolbar> -->