
 <app-menu></app-menu>
<mat-card class="size" id="manage">
<div class="container text-center">
    <img class="img-fluid" style="width: 100px ;" src="https://cdn3.iconfinder.com/data/icons/gradient-circle/36/1014-512.png">
    <br><br>
    <mat-card-title style="color: deeppink;">User Details</mat-card-title>
    <mat-card-content style="font-size: x-large; align-content: flex-start;">
      <div class="content"> 
         <label> First Name : </label>  <label> {{user.fname}}</label>


      </div>
      <div class="content"> 
        <label> Last Name : </label><label> {{user.lname}}</label>
 
 
       </div>
       <div class="content"> 
        <label> Contact : </label> <label> {{user.contact}}</label>
 
 
       </div>
       <div class="content"> 
        <label> Email Id : </label> <label> {{user.email}}</label>
 
 
       </div>
       <div class="content"> 
        <label> City : </label><label> {{user.city}}</label>
 
 
       </div>
    </mat-card-content>
</div>
</mat-card>














<!-- <h3> View User Details</h3>
<div> 
    <div> 
        <label> <b> First Name: </b></label>{{user.fname}}
    </div>
    <div> 
        <label> <b> Last Name: </b></label>{{user.lname}}
    </div>
    <div> 
        <label> <b> Contact: </b></label>{{user.contact}}
    </div>
    <div> 
        <label> <b> Email Id : </b></label>{{user.email}}
    </div>
    <div> 
        <label> <b> City: </b></label>{{user.city}}
    </div>
</div>
 -->