
<html style="overflow-y: scroll;">
<br>

<div class="container"  >
    <div class="content">
  


<router-outlet  ></router-outlet>
</div>
</div>
 <footer class="footer" >
    <div class="container" id="foot" >
        <span> @All CopyRights issued by Sayali Badhe</span>
    </div>
  </footer> 

</html>


























<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">User Management System</a>
        </li>
        <li class="nav-item">
            <a *ngIf="isLoggedIn" routerLink="users" routerLinkActive="active" class="nav-link">User List</a>
            
        </li>
        <li class="nav-item">
            <a *ngIf="isLoggedIn" routerLink="create-user" routerLinkActive="active" class="nav-link">Add User</a>
            
        </li>
        <li class="navbar-item">
            <a *ngIf="isLoggedIn" routerLink="logout" routerLinkActive="active" class="nav-link">Logout </a>
        </li>  
    </ul>

</nav> -->
<!-- <mat-toolbar color="primary">
 
        <span >
        <a mat-icon-button >User Management System</a>
        </span>
   
  <span>
      <a  *ngIf="isLoggedIn" mat-icon-button routerLink="users" routerLinkActive="active" >User List</a>
  </span>
  <span>
    <a *ngIf="isLoggedIn" mat-icon-button routerLink="create-user" routerLinkActive="active" >Add User</a>
</span>
<span>
    <a *ngIf="isLoggedIn" mat-icon-button routerLink="logout" routerLinkActive="active" >Logout</a>
</span>

  
</mat-toolbar> -->

<!-- <mat-toolbar color="accent" class="set" >
    <mat-toolbar-row>
     
      <h1>User Management System</h1>
      <span class="menu-spacer"></span>
      <div>
        
        <button  mat-button  [routerLink]="'users'"  > User List </button>
        <button  mat-button   [routerLink]="'create-user'"> Add User </button>
        <button   mat-button  [routerLink]="'logout'"> Logout </button>
        
  
      </div>
    </mat-toolbar-row>
</mat-toolbar> -->



